@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#000000] text-white antialiased;
    background-image: radial-gradient(circle at 2px 2px, rgba(59, 130, 246, 0.1) 1px, transparent 0);
    background-size: 30px 30px;
  }
}

.admin-card {
  background: rgba(255, 255, 255, 0.01);
  border: 1px dashed rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}